.login-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input {
  padding: 14px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 14px;
  background: #22c55e;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}

.error {
  color: #f87171;
}
